<h1> Contacts </h1>
<p><%= link_to 'New Contact', new_contact_path %></p>
<% @contacts.each do |contact| %>
    <h2><%= contact.name %></h2>
    <%= link_to "Show Contact", contact_path(contact) %>
    <%= link_to 'Edit Contact', edit_contact_path(contact) %>
    <%= link_to 'Destroy Contact', contact, method: :delete %>
<% end %> 