<h1>Name: <%= @contact.name %></h1>
<h4>Age: <%= @contact.age %></h1>
<h4>Hair Color: <%= @contact.hair_color %></h1>
<h4>Eye Color: <%= @contact.eye_color %></h1>
<h4>Gender: <%= @contact.gender %></h1>
<h4>Alive? <%= @contact.alive %></h1> 
<%= link_to "Back", contacts_path %> 
